<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BNS Saral | Home</title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'Base/style.css' %}"> -->
    <link rel="stylesheet" href="../..//static/Base/style.css">
</head>
<body>
    <div class="main-container">
        <div class="container1a"></div>
        <div class="container1">
            <h1>Law-Converter</h1>
        </div>
        <div class="container2">
                <div class="form-item">
                    <a href="#">BNSS to CRPC</a>
                    <a href="#">BNS to IPC</a>
                    <a href="#">BSA to IEA</a>
                </div>
        </div>
        <div class="response-container">
            <button id="read-more-button" style="display: none;">Read More</button>
            <div class="response" id="response" style="display: none;">
                <!-- Response content will be inserted here -->
            </div>
        </div>
    </div>
    <div style="text-align: center; padding: 50px; font-size: small;">
            Created by Mihir Pande
    </div>


</body>
</html>